[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
passlib = "*"
bcrypt = "*"
python-jose = "*"
python-multipart = "*"

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.9"
